/* General styling */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  padding: 0 20%;
  line-height: 1.6;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  margin-left: 15px;
  color: #000;
}

.btn {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
}

/* Intro Section */
.intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.intro span {
  color: #ff7b7b;
}

.intro img {
  width: 300px;
  border-radius: 8px;
}

.intro h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
}

.intro span {
  color: #ff7b7b;
}

.intro p {
  margin-bottom: 20px;
  font-size: 1rem;
  font-weight: 400;
  color: #666;
}



/* Skills & Certificates Section */
.skills {
  padding: 30px 0;
  text-align: center;

}

.skill-set {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.skill-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  color: #333;
}

.languages ul,
.skills ul {
  list-style: none;
  padding: 0;
}

.languages li,
.skills li {
  padding: 4px 0;
}


/* Education & Work Experience Section */
.edu-work {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 30px 0;
}

.edu-work .card {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  flex: 1;
}

.edu-work h2,
.skills h2,
.papers h2 {
  margin-bottom: 15px;
  padding: 15px;
  color: #ff7b7b;
  text-align: center;
}

.edu-work ul {
  list-style: none;
  padding: 0;
}

.edu-work li {
  margin-bottom: 25px;
}

.edu-work li span {
  color: #888;
  margin-left: 10px;
  font-size: 0.9rem;
}

/* Papers Section */
.papers {
  background-color: #000;
  color: #fff;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  gap: 50px;
}

.papers .title-col {
  font-size: 2rem;
  font-weight: bold;
}

.papers ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.papers li {
  padding: 15px 0;
  font-size: 1.1rem;
  border-bottom: 1px solid #333;
}

.papers li:last-child {
  border-bottom: none;
}

.papers li .paper-title {
  font-weight: bold;
  font-size: 1.3rem;
}

.papers li .conference-info {
  font-size: 0.9rem;
  color: #aaa;
}

/* Contact Section */
.contact {
  background-color: #000;
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  font-size: 1.5rem;
}

.contact a {
  color: #0a66c2;
  text-decoration: none;
}

.contact i {
  color: white;
  font-size: 30px;
}


/* Responsive design */
@media (max-width: 768px) {
  .intro,
  .skill-set,
  .edu-work,
  .papers {
    flex-direction: column;
    gap: 20px;
  }

  header {
    flex-direction: column;
  }

  .intro img {
    width: 100%;
    margin-top: 20px;
  }

  .papers,
  .contact {
    padding: 20px;
  }

}
