.p-view_page.Flex312 {
display: flex;
padding-bottom: ;
flex-direction: column-reverse;
row-gap: 5px;
}
.p-view_page.Flex286 {
display: flex;
column-gap: 40px;
align-items: center;
}
.p-view_page.Flex284 {
display: flex;
row-gap: ;
column-gap: 50px;
font-family: Plus Jakarta Sans;
font-weight: 500;
font-size: 16px;
padding-top: ;
padding-bottom: ;
align-items: stretch;
}
.p-view_page.Flex278 {
display: flex;
flex-direction: column;
padding-top: ;
row-gap: 30px;
}
.p-view_page.Flex279 {
display: flex;
column-gap: 10px;
align-items: center;
}
.p-view_page.Flex280 {
display: flex;
column-gap: 10px;
align-items: center;
}
.p-view_page.Flex282 {
display: flex;
column-gap: 10px;
align-items: center;
}
.p-view_page.Flex285 {
display: flex;
column-gap: 10px;
align-items: center;
}
.p-view_page.Flex283 {
display: flex;
flex-direction: column;
padding-top: ;
row-gap: 30px;
}
.p-view_page.Flex288 {
display: flex;
width: 600px;
height: 300px;
background-color: #F1F5F9;
align-items: stretch;
justify-content: center;
border-radius: 8px;
}
.p-view_page.Flex287 {
display: flex;
background-color: #F1F5F9;
column-gap: 10px;
align-items: center;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
border-radius: 4px;
border-width: 1px;
border-style: solid;
border-color: #1F2937;
width: 10rem;
align-self: center;
justify-content: flex-start;
align-content: stretch;
}
.p-view_page.Flex336 {
display: flex;
flex-direction: column;
row-gap: 40px;
font-family: ;
font-weight: 600;
font-size: =px;
margin-top: 100px;
}
.p-view_page.Flex330 {
display: flex;
column-gap: 100px;
justify-content: space-between;
}
.p-view_page.Flex351 {
display: flex;
height: 2px;
background-color: #E5E7EB;
margin-top: ;
}
.p-view_page.TextBox242 {
font-family: Plus Jakarta Sans;
font-weight: 600;
font-size: 16px;
color: #6B7280;
padding-bottom: ;
}
.p-view_page.Button30 {
color: #fff;
background-color: #1890ff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 8px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 16px;
height: 16px;
}
.p-view_page.TextBox216 {
color: #94A3B8;
}
.p-view_page.Button31 {
color: #fff;
background-color: #1890ff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 8px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 16px;
height: 16px;
}
.p-view_page.TextBox217 {
color: #94A3B8;
}
.p-view_page.Button33 {
color: #fff;
background-color: #1890ff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 8px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 16px;
height: 16px;
}
.p-view_page.TextBox219 {
color: #94A3B8;
}
.p-view_page.TextBox223 {
color: #94A3B8;
}
.p-view_page.Button34 {
color: #fff;
background-color: #1890ff;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 8px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1890ff;
cursor: pointer;
user-select: none;
width: 16px;
height: 16px;
}
.p-view_page.TextBox220 {
;
}
.p-view_page.TextBox221 {
;
}
.p-view_page.TextBox222 {
;
}
.p-view_page.TextBox224 {
;
}
.p-view_page.Image47 {
;
}
.p-view_page.Upload4 {
align-items: center;
color: #1F2937;
background-color: #F1F5F9;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 2px;
outline: none;
font-weight: 600;
border-width: 1px;
border-style: none;
border-color: #1890ff;
cursor: pointer;
user-select: none;
column-gap: 12px;
opacity: ;
font-family: Plus Jakarta Sans;
}
.p-view_page.TextBox252 {
font-family: Plus Jakarta Sans;
font-weight: 600;
font-size: 20px;
}
.p-view_page.Button48 {
color: #fff;
background-color: #F1F5F9;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 8px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1F2937;
cursor: pointer;
user-select: none;
width: 300px;
height: 300px;
}
.p-view_page.Button51 {
color: #fff;
background-color: #F1F5F9;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 8px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1F2937;
cursor: pointer;
user-select: none;
width: 300px;
height: 300px;
}
.p-view_page.Button52 {
color: #fff;
background-color: #F1F5F9;
padding-top: ;
padding-left: ;
padding-bottom: ;
padding-right: ;
font-size: 16px;
border-radius: 8px;
outline: none;
font-weight: 400;
text-align: center;
border-width: 1px;
border-style: solid;
border-color: #1F2937;
cursor: pointer;
user-select: none;
width: 300px;
height: 300px;
}
.p-view_page.TextBox264 {
height: 0px;
}
